.fruitlist_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 64px 0;
}

.fontColorBad {
    color: red;
}

.fontColorGood {
    color: green;
}

.bgWhite {
    background-color: white;
}



